*{
    margin: 8px;
    padding: 2px;
}


.upper{
    border:1px solid black;
  margin-left:30px;
}

.end{
width: 1623px;
height: 469px;



}

span{
    font-style: italic;
    font-weight: 800;
}

.head{
    text-decoration: underline;

    
}

img{
    width: 1051px;
    height: 894px;
    top: 742px;

}

a{
    color: #000000;
    width: 245px;
    height: 48px;
   
  
    
}

li{
    margin-left:35px;
}

